In [2]:
from openpyxl import load_workbook

def get_worksheet_rows(file_path):
    # Load the workbook in read-only mode
    try:
        # params:
        #   data_only: reads the cell values as they appear, including any
        #              formulas and leading zeroes.
        wb = load_workbook(
            filename=file_path, read_only=True, data_only=False)
        ws = wb.active  # Assuming you're working with the first sheet
    except:
        raise ValueError(f"{_('invalid filename')}: {file_path}")

    # Loop through the rows starting from the first row
    rows = [row for row in ws.iter_rows(values_only=True)]
    wb.close()  # Close the workbook after processing

    return rows

file_path = "accounting/fixtures/kontenpläne/Kontenplan_SO_Bürgergemeinden_Funktionale Gliederung.xlsx"
rows = get_worksheet_rows(file_path)

# Print the rows to verify contents
for row in rows:
    print(row)

In [42]:
MAX_ACCOUNT_NUMBER = 9999

def clean_account_number(account_number):
    if account_number is None:
        return None

    # check if valid and return string
    if type(account_number) == str:
        account_number = account_number.strip()        
        if account_number == '':
            return None        
        elif account_number.isnumeric() and 0 <= int(account_number) <= MAX_ACCOUNT_NUMBER:
            return account_number

    # check if int
    if type(account_number) == int:        
        if 0 <= account_number <= MAX_ACCOUNT_NUMBER:
            return str(account_number)
            
    raise ValueError(f"{account_number} ('not a number')")

In [51]:
MAX_ACCOUNT_NUMBER = 9999
account_4_plus_2_NUMBER = 99999.99

def clean_ff_account_4_plus_2(account_4_plus_2):
    '''return ff as Boolean and account_4_plus_2 as Float
    '''
    if account_4_plus_2 is None:
        return False, None

    # check if valid and convert to number
    if type(account_4_plus_2) == str:
        ff = True if 'ff' in account_4_plus_2.lower() else False
        account_4_plus_2 = account_4_plus_2.replace('ff', '').strip()
                
        if account_4_plus_2 == '':
            return ff, None        

        try:
            account_4_plus_2 = float(account_4_plus_2)
        except:
             raise ValueError(f"{account_4_plus_2} ('not a number')")     
    else:
        ff = False

    # return 
    if 0 <= account_4_plus_2 <= account_4_plus_2_NUMBER:
        return ff, account_4_plus_2        
            
    raise ValueError(f"{account_4_plus_2} ('not a number')")

In [52]:
def cell_is_value(cell):
    if cell is None:
        return False
    elif not str(cell).strip():
        print(f"'{cell}'")
        return False
    return True

In [54]:
HEADERS = [
    'account_number', 'account_4_plus_2', 'name', 'notes', 
    'hrm_1', 'description_hrm_1'
]

file_path = "accounting/fixtures/kontenpläne/Kontenplan_SO_Bürgergemeinden_Bilanz.xlsx"
# file_path = "accounting/fixtures/kontenpläne/Kontenplan_SO_Bürgergemeinden_Funktionale Gliederung - corr.xlsx"
# file_path = "accounting/fixtures/kontenpläne/Kontenplan_SO_Bürgergemeinden_Erfolgsrechnung.xlsx"
rows = get_worksheet_rows(file_path)

# Print the rows to verify contents
headers = []
for row in rows:
    # Get headers (first non-empty row that contains 'Sachkonto')
    if not headers:
        if row[0] == 'Sachkonto':
            headers = HEADERS  
        continue

    # Analyze
    data = dict(zip(headers, row))

    # Check if empty
    print("*", data['account_number'])
    if not cell_is_value(data['account_number']) and not cell_is_value(data['account_4_plus_2']):
        continue
        
    data['account_number'] = clean_account_number(data['account_number'])
    data['ff'], data['account_4_plus_2'] = clean_ff_account_4_plus_2(data['account_4_plus_2'])
    
    print(type(data['account_number']), type(data['account_4_plus_2']), data['account_number'], data['account_4_plus_2'])

* 1
<class 'str'> <class 'NoneType'> 1 None
* 10
<class 'str'> <class 'NoneType'> 10 None
* 100
<class 'str'> <class 'NoneType'> 100 None
* 1000
<class 'str'> <class 'NoneType'> 1000 None
* None
<class 'NoneType'> <class 'float'> None 10000.0
* None
<class 'NoneType'> <class 'float'> None 10000.01
* None
<class 'NoneType'> <class 'float'> None 10000.02
* 1001
<class 'str'> <class 'NoneType'> 1001 None
*
' '
<class 'NoneType'> <class 'float'> None 10010.0
* None
<class 'NoneType'> <class 'float'> None 10010.01
* None
<class 'NoneType'> <class 'float'> None 10010.02
* None
<class 'NoneType'> <class 'float'> None 10010.99
* 1002
<class 'str'> <class 'NoneType'> 1002 None
*
' '
<class 'NoneType'> <class 'float'> None 10020.0
* None
<class 'NoneType'> <class 'float'> None 10020.01
* None
<class 'NoneType'> <class 'float'> None 10020.02
* None
<class 'NoneType'> <class 'float'> None 10020.99
*
' '
<class 'NoneType'> <class 'float'> None 10021.0
* None
<class 'NoneType'> <class 'float'> None 10021.01
* None
<class 'NoneType'> <class 'float'> None 10021.02
* 1003
<class 'str'> <class 'NoneType'> 1003 None
*
' '
<class 'NoneType'> <class 'float'> None 10030.0
* None
<class 'NoneType'> <class 'float'> None 10030.01
* None
<class 'NoneType'> <class 'float'> None 10030.02
* 101
<class 'str'> <class 'NoneType'> 101 None
* 1010
<class 'str'> <class 'NoneType'> 1010 None
*
' '
<class 'NoneType'> <class 'float'> None 10100.0
* None
<class 'NoneType'> <class 'float'> None 10100.01
* None
<class 'NoneType'> <class 'float'> None 10100.02
* None
<class 'NoneType'> <class 'float'> None 10100.1
* None
<class 'NoneType'> <class 'float'> None 10100.11
* None
<class 'NoneType'> <class 'float'> None 10100.18
* None
<class 'NoneType'> <class 'float'> None 10100.19
* None
<class 'NoneType'> <class 'float'> None 10100.8
* None
<class 'NoneType'> <class 'float'> None 10100.99
*
' '
<class 'NoneType'> <class 'float'> None 10101.0
* None
<class 'NoneType'> <class 'float'> None 10101.01
* 1011
<class 'str'> <class 'NoneType'> 1011 None
*
' '
<class 'NoneType'> <class 'float'> None 10110.0
* None
<class 'NoneType'> <class 'float'> None 10110.01
* None
<class 'NoneType'> <class 'float'> None 10110.02
*
' '
<class 'NoneType'> <class 'float'> None 10111.0
* None
<class 'NoneType'> <class 'float'> None 10111.01
* None
<class 'NoneType'> <class 'float'> None 10111.02
* None
<class 'NoneType'> <class 'float'> None 10111.08
*
' '
<class 'NoneType'> <class 'float'> None 10112.0
* None
<class 'NoneType'> <class 'float'> None 10112.01
* None
<class 'NoneType'> <class 'float'> None 10112.02
* 1013
<class 'str'> <class 'NoneType'> 1013 None
*
' '
<class 'NoneType'> <class 'float'> None 10130.0
* None
<class 'NoneType'> <class 'float'> None 10130.01
* 1015
<class 'str'> <class 'NoneType'> 1015 None
* None
<class 'NoneType'> <class 'int'> None 10150
* None
<class 'NoneType'> <class 'float'> None 10150.01
* 1019
<class 'str'> <class 'NoneType'> 1019 None
*
' '
<class 'NoneType'> <class 'float'> None 10190.0
* None
<class 'NoneType'> <class 'float'> None 10190.01
*
' '
<class 'NoneType'> <class 'float'> None 10192.0
* None
<class 'NoneType'> <class 'float'> None 10192.01
* None
<class 'NoneType'> <class 'float'> None 10192.02
* None
<class 'NoneType'> <class 'float'> None 10192.08
* None
<class 'NoneType'> <class 'float'> None 10192.09
* None
<class 'NoneType'> <class 'float'> None 10192.17
* None
<class 'NoneType'> <class 'float'> None 10192.18
*
' '
<class 'NoneType'> <class 'float'> None 10199.0
* None
<class 'NoneType'> <class 'float'> None 10199.01
* None
<class 'NoneType'> <class 'float'> None 10199.99
* 102
<class 'str'> <class 'NoneType'> 102 None
* 1020
<class 'str'> <class 'NoneType'> 1020 None
*
' '
<class 'NoneType'> <class 'float'> None 10200.0
* None
<class 'NoneType'> <class 'float'> None 10200.01
* None
<class 'NoneType'> <class 'float'> None 10200.99
* 1022
<class 'str'> <class 'NoneType'> 1022 None
*
' '
<class 'NoneType'> <class 'float'> None 10220.0
* None
<class 'NoneType'> <class 'float'> None 10220.01
* None
<class 'NoneType'> <class 'float'> None 10220.02
* 1023
<class 'str'> <class 'NoneType'> 1023 None
*
' '
<class 'NoneType'> <class 'float'> None 10230.0
* None
<class 'NoneType'> <class 'float'> None 10230.01
* 1029
<class 'str'> <class 'NoneType'> 1029 None
*
' '
<class 'NoneType'> <class 'float'> None 10290.0
* None
<class 'NoneType'> <class 'float'> None 10290.01
* 104
<class 'str'> <class 'NoneType'> 104 None
* 1046
<class 'str'> <class 'NoneType'> 1046 None
*
' '
<class 'NoneType'> <class 'float'> None 10460.0
* None
<class 'NoneType'> <class 'float'> None 10460.01
* 1047
<class 'str'> <class 'NoneType'> 1047 None
* None
<class 'NoneType'> <class 'int'> None 10470
* None
<class 'NoneType'> <class 'float'> None 10470.01
* 106
<class 'str'> <class 'NoneType'> 106 None
* 1060
<class 'str'> <class 'NoneType'> 1060 None
*
' '
<class 'NoneType'> <class 'int'> None 10607
* None
<class 'NoneType'> <class 'float'> None 10607.01
* None
<class 'NoneType'> <class 'float'> None 10607.99
* 1061
<class 'str'> <class 'NoneType'> 1061 None
*
' '
<class 'NoneType'> <class 'int'> None 10617
* None
<class 'NoneType'> <class 'float'> None 10617.01
* 1068
<class 'str'> <class 'NoneType'> 1068 None
*
' '
<class 'NoneType'> <class 'int'> None 10687
* None
<class 'NoneType'> <class 'float'> None 10687.01
* 107
<class 'str'> <class 'NoneType'> 107 None
* 1070
<class 'str'> <class 'NoneType'> 1070 None
*
' '
<class 'NoneType'> <class 'float'> None 10700.0
* None
<class 'NoneType'> <class 'float'> None 10700.01
*
' '
<class 'NoneType'> <class 'float'> None 10701.0
* None
<class 'NoneType'> <class 'float'> None 10701.01
*
' '
<class 'NoneType'> <class 'float'> None 10702.0
* None
<class 'NoneType'> <class 'float'> None 10702.01
* 1071
<class 'str'> <class 'NoneType'> 1071 None
*
' '
<class 'NoneType'> <class 'float'> None 10710.0
* None
<class 'NoneType'> <class 'float'> None 10710.01
* None
<class 'NoneType'> <class 'float'> None 10710.02
*
' '
<class 'NoneType'> <class 'float'> None 10711.0
* None
<class 'NoneType'> <class 'float'> None 10711.01
* None
<class 'NoneType'> <class 'float'> None 10711.02
* 1072
<class 'str'> <class 'NoneType'> 1072 None
*
' '
<class 'NoneType'> <class 'float'> None 10720.0
* None
<class 'NoneType'> <class 'float'> None 10720.01
* 1079
<class 'str'> <class 'NoneType'> 1079 None
*
' '
<class 'NoneType'> <class 'float'> None 10790.0
* None
<class 'NoneType'> <class 'float'> None 10790.01
* 108
<class 'str'> <class 'NoneType'> 108 None
* 1080
<class 'str'> <class 'NoneType'> 1080 None
*
' '
<class 'NoneType'> <class 'float'> None 10800.0
* None
<class 'NoneType'> <class 'float'> None 10800.01
*
' '
<class 'NoneType'> <class 'float'> None 10801.0
* None
<class 'NoneType'> <class 'float'> None 10801.01
* 1084
<class 'str'> <class 'NoneType'> 1084 None
*
' '
<class 'NoneType'> <class 'float'> None 10840.0
* None
<class 'NoneType'> <class 'float'> None 10840.01
*
' '
<class 'NoneType'> <class 'float'> None 10841.0
* None
<class 'NoneType'> <class 'float'> None 10841.01
* 1086
<class 'str'> <class 'NoneType'> 1086 None
*
' '
<class 'NoneType'> <class 'float'> None 10860.0
* None
<class 'NoneType'> <class 'float'> None 10860.01
* 1087
<class 'str'> <class 'NoneType'> 1087 None
*
' '
<class 'NoneType'> <class 'float'> None 10870.0
* None
<class 'NoneType'> <class 'float'> None 10870.01
* 1088
<class 'str'> <class 'NoneType'> 1088 None
*
' '
<class 'NoneType'> <class 'float'> None 10880.0
* None
<class 'NoneType'> <class 'float'> None 10880.01
* 1089
<class 'str'> <class 'NoneType'> 1089 None
*
' '
<class 'NoneType'> <class 'float'> None 10890.0
* None
<class 'NoneType'> <class 'float'> None 10890.01
* 109
<class 'str'> <class 'NoneType'> 109 None
* 1090
<class 'str'> <class 'NoneType'> 1090 None
*
' '
<class 'NoneType'> <class 'float'> None 10900.0
* None
<class 'NoneType'> <class 'float'> None 10900.01
* 1091
<class 'str'> <class 'NoneType'> 1091 None
*
' '
<class 'NoneType'> <class 'float'> None 10910.0
* None
<class 'NoneType'> <class 'float'> None 10910.01
* 1092
<class 'str'> <class 'NoneType'> 1092 None
* None
<class 'NoneType'> <class 'float'> None 10920.01
* 1093
<class 'str'> <class 'NoneType'> 1093 None
* None
<class 'NoneType'> <class 'float'> None 10930.01
* None
* 14
<class 'str'> <class 'NoneType'> 14 None
* 140
<class 'str'> <class 'NoneType'> 140 None
* 1400
<class 'str'> <class 'NoneType'> 1400 None
*
' '
<class 'NoneType'> <class 'float'> None 14000.0
* None
<class 'NoneType'> <class 'float'> None 14000.01
* None
<class 'NoneType'> <class 'float'> None 14000.98
* None
<class 'NoneType'> <class 'float'> None 14000.99
*
' '
<class 'NoneType'> <class 'float'> None 14001.0
* None
<class 'NoneType'> <class 'float'> None 14001.01
* None
<class 'NoneType'> <class 'float'> None 14001.99
* None
<class 'NoneType'> <class 'int'> None 14005
* None
<class 'NoneType'> <class 'float'> None 14005.01
* None
<class 'NoneType'> <class 'float'> None 14005.99
* None
<class 'NoneType'> <class 'int'> None 14008
* None
<class 'NoneType'> <class 'float'> None 14008.01
* None
<class 'NoneType'> <class 'float'> None 14008.99
* 1401
<class 'str'> <class 'NoneType'> 1401 None
*
' '
<class 'NoneType'> <class 'float'> None 14010.0
* None
<class 'NoneType'> <class 'float'> None 14010.01
* None
<class 'NoneType'> <class 'float'> None 14010.98
* None
<class 'NoneType'> <class 'float'> None 14010.99
* None
<class 'NoneType'> <class 'int'> None 14018
* None
<class 'NoneType'> <class 'float'> None 14018.01
* None
<class 'NoneType'> <class 'float'> None 14018.99
* 1402
<class 'str'> <class 'NoneType'> 1402 None
*
' '
<class 'NoneType'> <class 'float'> None 14020.0
* None
<class 'NoneType'> <class 'float'> None 14020.01
* None
<class 'NoneType'> <class 'float'> None 14020.98
* None
<class 'NoneType'> <class 'float'> None 14020.99
* 1403
<class 'str'> <class 'NoneType'> 1403 None
*
' '
<class 'NoneType'> <class 'float'> None 14030.0
* None
<class 'NoneType'> <class 'float'> None 14030.01
* None
<class 'NoneType'> <class 'float'> None 14030.98
* None
<class 'NoneType'> <class 'float'> None 14030.99
*
' '
<class 'NoneType'> <class 'float'> None 14031.0
* None
<class 'NoneType'> <class 'float'> None 14031.01
* None
<class 'NoneType'> <class 'float'> None 14031.99
* None
<class 'NoneType'> <class 'int'> None 14035
* None
<class 'NoneType'> <class 'float'> None 14035.01
* None
<class 'NoneType'> <class 'float'> None 14035.99
*
' '
<class 'NoneType'> <class 'int'> None 14038
* None
<class 'NoneType'> <class 'float'> None 14038.01
* None
<class 'NoneType'> <class 'float'> None 14038.99
* 1404
<class 'str'> <class 'NoneType'> 1404 None
*
' '
<class 'NoneType'> <class 'float'> None 14040.0
* None
<class 'NoneType'> <class 'float'> None 14040.01
* None
<class 'NoneType'> <class 'float'> None 14040.98
* None
<class 'NoneType'> <class 'float'> None 14040.99
*
' '
<class 'NoneType'> <class 'float'> None 14041.0
* None
<class 'NoneType'> <class 'float'> None 14041.01
* None
<class 'NoneType'> <class 'float'> None 14041.99
* None
<class 'NoneType'> <class 'int'> None 14045
* None
<class 'NoneType'> <class 'float'> None 14045.01
* None
<class 'NoneType'> <class 'float'> None 14045.99
* None
<class 'NoneType'> <class 'int'> None 14048
* None
<class 'NoneType'> <class 'float'> None 14048.01
* None
<class 'NoneType'> <class 'float'> None 14048.99
* 1405
<class 'str'> <class 'NoneType'> 1405 None
*
' '
<class 'NoneType'> <class 'float'> None 14050.0
* None
<class 'NoneType'> <class 'float'> None 14050.01
* None
<class 'NoneType'> <class 'float'> None 14050.98
* None
<class 'NoneType'> <class 'float'> None 14050.99
* 1406
<class 'str'> <class 'NoneType'> 1406 None
*
' '
<class 'NoneType'> <class 'float'> None 14060.0
* None
<class 'NoneType'> <class 'float'> None 14060.01
* None
<class 'NoneType'> <class 'float'> None 14060.98
* None
<class 'NoneType'> <class 'float'> None 14060.99
*
' '
<class 'NoneType'> <class 'float'> None 14061.0
* None
<class 'NoneType'> <class 'float'> None 14061.01
* None
<class 'NoneType'> <class 'float'> None 14061.99
* None
<class 'NoneType'> <class 'int'> None 14065
* None
<class 'NoneType'> <class 'float'> None 14065.01
* None
<class 'NoneType'> <class 'float'> None 14065.99
* None
<class 'NoneType'> <class 'int'> None 14068
* None
<class 'NoneType'> <class 'float'> None 14068.01
* None
<class 'NoneType'> <class 'float'> None 14068.99
* 1407
<class 'str'> <class 'NoneType'> 1407 None
*
' '
<class 'NoneType'> <class 'float'> None 14070.0
* None
<class 'NoneType'> <class 'float'> None 14070.01
* None
<class 'NoneType'> <class 'float'> None 14070.1
* None
<class 'NoneType'> <class 'float'> None 14070.2
* None
<class 'NoneType'> <class 'float'> None 14070.3
* None
<class 'NoneType'> <class 'float'> None 14070.4
* None
<class 'NoneType'> <class 'float'> None 14070.5
* None
<class 'NoneType'> <class 'float'> None 14070.6
* None
<class 'NoneType'> <class 'float'> None 14070.7
*
' '
<class 'NoneType'> <class 'float'> None 14071.0
* None
<class 'NoneType'> <class 'float'> None 14071.01
* None
<class 'NoneType'> <class 'float'> None 14071.3
* None
<class 'NoneType'> <class 'float'> None 14071.4
* None
<class 'NoneType'> <class 'float'> None 14071.6
* None
<class 'NoneType'> <class 'float'> None 14071.7
* None
<class 'NoneType'> <class 'int'> None 14075
* None
<class 'NoneType'> <class 'float'> None 14075.01
* None
<class 'NoneType'> <class 'float'> None 14075.3
* None
<class 'NoneType'> <class 'float'> None 14075.4
* None
<class 'NoneType'> <class 'float'> None 14075.6
* None
<class 'NoneType'> <class 'float'> None 14075.7
* None
<class 'NoneType'> <class 'int'> None 14078
* None
<class 'NoneType'> <class 'float'> None 14078.01
* None
<class 'NoneType'> <class 'float'> None 14078.3
* None
<class 'NoneType'> <class 'float'> None 14078.4
* None
<class 'NoneType'> <class 'float'> None 14078.6
* None
<class 'NoneType'> <class 'float'> None 14078.7
* 1409
<class 'str'> <class 'NoneType'> 1409 None
*
' '
<class 'NoneType'> <class 'float'> None 14090.0
* None
<class 'NoneType'> <class 'float'> None 14090.01
* None
<class 'NoneType'> <class 'float'> None 14090.98
* None
<class 'NoneType'> <class 'float'> None 14090.99
*
' '
<class 'NoneType'> <class 'float'> None 14091.0
* None
<class 'NoneType'> <class 'float'> None 14091.01
* None
<class 'NoneType'> <class 'float'> None 14091.99
* None
<class 'NoneType'> <class 'int'> None 14095
* None
<class 'NoneType'> <class 'float'> None 14095.01
* None
<class 'NoneType'> <class 'float'> None 14095.99
* None
<class 'NoneType'> <class 'int'> None 14098
* None
<class 'NoneType'> <class 'float'> None 14098.01
* None
<class 'NoneType'> <class 'float'> None 14098.99
* 142
<class 'str'> <class 'NoneType'> 142 None
* 1420
<class 'str'> <class 'NoneType'> 1420 None
*
' '
<class 'NoneType'> <class 'float'> None 14200.0
* None
<class 'NoneType'> <class 'float'> None 14200.01
* None
<class 'NoneType'> <class 'float'> None 14200.98
* None
<class 'NoneType'> <class 'float'> None 14200.99
*
' '
<class 'NoneType'> <class 'float'> None 14201.0
* None
<class 'NoneType'> <class 'float'> None 14201.01
* None
<class 'NoneType'> <class 'float'> None 14201.99
* None
<class 'NoneType'> <class 'int'> None 14205
* None
<class 'NoneType'> <class 'float'> None 14205.01
* None
<class 'NoneType'> <class 'float'> None 14205.99
* None
<class 'NoneType'> <class 'int'> None 14208
* None
<class 'NoneType'> <class 'float'> None 14208.01
* None
<class 'NoneType'> <class 'float'> None 14208.99
* 1429
<class 'str'> <class 'NoneType'> 1429 None
* None
<class 'NoneType'> <class 'int'> None 14290
* None
<class 'NoneType'> <class 'float'> None 14290.01
* None
<class 'NoneType'> <class 'float'> None 14290.98
* None
<class 'NoneType'> <class 'float'> None 14290.99
* None
<class 'NoneType'> <class 'int'> None 14291
* None
<class 'NoneType'> <class 'float'> None 14291.01
* None
<class 'NoneType'> <class 'float'> None 14291.99
* None
<class 'NoneType'> <class 'int'> None 14295
* None
<class 'NoneType'> <class 'float'> None 14295.01
* None
<class 'NoneType'> <class 'float'> None 14295.99
* None
<class 'NoneType'> <class 'int'> None 14298
* None
<class 'NoneType'> <class 'float'> None 14298.01
* None
<class 'NoneType'> <class 'float'> None 14298.99
* 144
<class 'str'> <class 'NoneType'> 144 None
* 1442
<class 'str'> <class 'NoneType'> 1442 None
*
' '
<class 'NoneType'> <class 'float'> None 14420.0
* None
<class 'NoneType'> <class 'float'> None 14420.01
* None
<class 'NoneType'> <class 'float'> None 14420.08
* 1444
<class 'str'> <class 'NoneType'> 1444 None
*
' '
<class 'NoneType'> <class 'float'> None 14440.0
* None
<class 'NoneType'> <class 'float'> None 14440.01
* None
<class 'NoneType'> <class 'float'> None 14440.08
* 1445
<class 'str'> <class 'NoneType'> 1445 None
*
' '
<class 'NoneType'> <class 'float'> None 14450.0
* None
<class 'NoneType'> <class 'float'> None 14450.01
* 1446
<class 'str'> <class 'NoneType'> 1446 None
*
' '
<class 'NoneType'> <class 'float'> None 14460.0
* None
<class 'NoneType'> <class 'float'> None 14460.01
* 1447
<class 'str'> <class 'NoneType'> 1447 None
*
' '
<class 'NoneType'> <class 'float'> None 14470.0
* None
<class 'NoneType'> <class 'float'> None 14470.01
* 145
<class 'str'> <class 'NoneType'> 145 None
* 1452
<class 'str'> <class 'NoneType'> 1452 None
*
' '
<class 'NoneType'> <class 'float'> None 14520.0
* None
<class 'NoneType'> <class 'float'> None 14520.01
* 1454
<class 'str'> <class 'NoneType'> 1454 None
*
' '
<class 'NoneType'> <class 'float'> None 14540.0
* None
<class 'NoneType'> <class 'float'> None 14540.01
* 1455
<class 'str'> <class 'NoneType'> 1455 None
*
' '
<class 'NoneType'> <class 'float'> None 14550.0
* None
<class 'NoneType'> <class 'float'> None 14550.01
* 1456
<class 'str'> <class 'NoneType'> 1456 None
*
' '
<class 'NoneType'> <class 'float'> None 14560.0
* None
<class 'NoneType'> <class 'float'> None 14560.01
* 146
<class 'str'> <class 'NoneType'> 146 None
* 1461
<class 'str'> <class 'NoneType'> 1461 None
*
' '
<class 'NoneType'> <class 'float'> None 14610.0
* None
<class 'NoneType'> <class 'float'> None 14610.01
* None
<class 'NoneType'> <class 'float'> None 14610.98
* None
<class 'NoneType'> <class 'float'> None 14610.99
* 1462
<class 'str'> <class 'NoneType'> 1462 None
*
' '
<class 'NoneType'> <class 'float'> None 14620.0
* None
<class 'NoneType'> <class 'float'> None 14620.01
* None
<class 'NoneType'> <class 'float'> None 14620.08
* None
<class 'NoneType'> <class 'float'> None 14620.98
* None
<class 'NoneType'> <class 'float'> None 14620.99
*
' '
<class 'NoneType'> <class 'float'> None 14621.0
* None
<class 'NoneType'> <class 'float'> None 14621.01
* None
<class 'NoneType'> <class 'float'> None 14621.99
*
' '
<class 'NoneType'> <class 'int'> None 14628
* None
<class 'NoneType'> <class 'float'> None 14628.01
* None
<class 'NoneType'> <class 'float'> None 14628.99
* 1464
<class 'str'> <class 'NoneType'> 1464 None
*
' '
<class 'NoneType'> <class 'float'> None 14640.0
* None
<class 'NoneType'> <class 'float'> None 14640.01
* None
<class 'NoneType'> <class 'float'> None 14640.08
* None
<class 'NoneType'> <class 'float'> None 14640.98
* None
<class 'NoneType'> <class 'float'> None 14640.99
*
' '
<class 'NoneType'> <class 'float'> None 14641.0
* None
<class 'NoneType'> <class 'float'> None 14641.01
* None
<class 'NoneType'> <class 'float'> None 14641.99
* 1465
<class 'str'> <class 'NoneType'> 1465 None
*
' '
<class 'NoneType'> <class 'float'> None 14650.0
* None
<class 'NoneType'> <class 'float'> None 14650.01
* None
<class 'NoneType'> <class 'float'> None 14650.98
* None
<class 'NoneType'> <class 'float'> None 14650.99
*
' '
<class 'NoneType'> <class 'float'> None 14651.0
* None
<class 'NoneType'> <class 'float'> None 14651.01
* None
<class 'NoneType'> <class 'float'> None 14651.99
* 1466
<class 'str'> <class 'NoneType'> 1466 None
*
' '
<class 'NoneType'> <class 'float'> None 14660.0
* None